<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.js">
    </script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js">
    </script>
    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function updateWishlist() {
            $.getJSON(
                    '/api/wishlist',
                    function (data) {
                        var i;
                        $("#wishlist").html("");
                        for (i = 0; i < data.length; ++i) {
                            $("#wishlist").append(
                                    '<div class="alert alert-success" id="wishlist_' +
                                            data[i].pk +
                                            '">' +
                                            '<button type="button" class="close" onclick="wishlistRemove(' +
                                            data[i].pk +
                                            ')">' +
                                            '&times;</button>' +
                                            String(data[i].fields.name) +
                                            '</div>'
                            );
                        }
                    }
            );
        }
        var csrftoken = getCookie('csrftoken');
        function wishlistRemove(id) {
            $.ajax({
                method: 'DELETE',
                url: '/api/wishlist/' + id,
                success: function(data, textStatus, jqXHR) {
                    $("#wishlist_" + id).remove();
                }
            });
        }
        $(document).ready(function() {
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            updateWishlist();
            $("#wishlist_new").on('click', function() {
                var name = prompt("Enter the name of the gift you want", "");
                $.ajax({
                    method: 'POST',
                    url: '/api/wishlist',
                    data: {name: name},
                    success: function(data, textStatus, jqXHR) {
                        updateWishlist();
                    }
                });
            });
            $.getJSON(
                '/api/giftees',
                function (data) {
                    var i;
                    for (i = 0; i < data.length; ++i) {
                        $("#giftees").append(
                            '<div class="alert alert-success">' +
                            '<button type="button" class="close" data-dismiss="alert">' +
                            '&times;</button>' +
                            String(data[i].pk) +
                            ' | wishlist_link' +
                            '</div>'
                        );
                    }
                }
            );
            $.getJSON(
                '/api/shopping',
                function (data) {
                    var i;
                    for (i = 0; i < data.length; ++i) {
                        $("#shopping").append(
                            '<div class="alert alert-success">' +
                            '<button type="button" class="close" data-dismiss="alert">' +
                            '&times;</button>' +
                            String(data[i].fields.name) +
                            ' | bought_switch' +
                            '</div>'
                        );
                    }
                }
            );
        });
    </script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand">Giftee</a>
            <ul class="nav pull-right">
                <li>
                    <a>
                        Currently logged in as {{ user }}
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="/logout?next=/">
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <h4>
                    Wishlist
                    <button class="pull-right" id="wishlist_new">new</button>
                </h4>
                <div id="wishlist"></div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h4>
                    Giftees <select></select> <button class="pull-right">add</button>
                </h4>
                <div id="giftees"></div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h4>
                    Shopping List
                    <button class="pull-right">new_button</button>
                </h4>
                <div id="shopping"></div>
            </div>
        </div>
    </div>
</body>
</html>
